.mobile-menu__container {
    @media screen and (max-width: 767px) {
        display: none;

        z-index: 5;
        position: fixed;
        padding-top: 60px;
        padding-right: 20px;
        padding-left: 21px;
        top: 0;
        right: 0;
        width: 250px;
        height: 502px;

        background-color: #E17992;

        &.is-open {
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.mobile-menu__button-close {
    position: absolute;
    top: 23px;
    right: 28px;
    margin-left: auto;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }
}
